<footer class="footer">
  <p>&copy; {{ currentYear }} eVentos. Todos los derechos reservados.</p>
  <a href="mailto:soporte@eVentos.com">Contacto</a>
  <div class="footer-section">
           <a href="https://www.instagram.com/eVentos" target="_blank"><i class="fab fa-instagram"></i> Instagram</a>  
           <a href="https://wa.me/56912345678" target="_blank"><i class="fab fa-whatsapp"></i> WhatsApp</a>
           <a href="https://www.facebook.com/eVentos" target="_blank"><i class="fab fa-facebook"></i> Facebook</a>
       </div>
</footer>
