.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #312937;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: #f8b348;
  cursor: pointer;
  transition: color 0.3s;
}
.logo:hover {
  color: #ffffff;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  transition: color 0.3s, border-bottom 0.3s;
}

.nav-links a.active {
  color: #f8b348;
  border-bottom: 2px solid #f8b348;
}

.nav-links a:hover {
  color: #f8b348;
}

.nombre-usuario {
  font-weight: 500;
  color: #f8b348;
  margin-right: 1rem;
}

.logout-btn {
  background: none;
  border: 1px solid #f8b348;
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
  color: #f8b348;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.logout-btn:hover {
  background-color: #f8b348;
  color: #312937;
}

@media (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    align-items: flex-end;
    gap: 0.3rem;
  }

  .nombre-usuario {
    margin-right: 0;
    font-size: 0.95rem;
  }

  .logout-btn {
    font-size: 0.95rem;
  }
}
