<header class="navbar">
  <div class="logo" (click)="irAInicio()">🎟️ eVentos</div>

  <nav class="nav-links">
    <a
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Inicio</a
    >
    <a *ngIf="!estaAutenticado" routerLink="/registro" routerLinkActive="active"
      >Registro</a
    >
    <a *ngIf="!estaAutenticado" routerLink="/login" routerLinkActive="active"
      >Iniciar sesión</a
    >

    <span *ngIf="estaAutenticado" class="nombre-usuario"
      >Bienvenido, {{ nombreUsuario }}
    </span>
    <button *ngIf="estaAutenticado" (click)="cerrarSesion()" class="logout-btn">
      Cerrar sesión
    </button>
  </nav>
</header>
