<header class="navbar">
  <div class="logo" (click)="irAInicio()">
    <i class="fas fa-ticket"></i> eVentos
  </div>

  <nav class="nav-links">
    <a
      routerLink="/eventos"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Inicio <i class="fa-solid fa-house"></i
    ></a>
    <a *ngIf="!estaAutenticado" routerLink="/registro" routerLinkActive="active"
      >Registro</a
    >
    <a *ngIf="!estaAutenticado" routerLink="/login" routerLinkActive="active"
      >Iniciar sesión</a
    >

    <span *ngIf="estaAutenticado" class="nombre-usuario"
      >Hola {{ nombreUsuario }} <i class="fa-solid fa-music"></i>
    </span>
    <button *ngIf="estaAutenticado" (click)="cerrarSesion()" class="logout-btn">
      Cerrar sesión <i class="fa-solid fa-right-from-bracket"></i>
    </button>
  </nav>
</header>
