<header class="navbar">
  <div class="logo" (click)="irAInicio()">
    <i class="fas fa-ticket"></i> eVentos
  </div>

  <nav class="nav-links">
    <a
      routerLink="/eventos"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Inicio <i class="fa-solid fa-house"></i
    ></a>
    <a *ngIf="!estaAutenticado" routerLink="/registro" routerLinkActive="active"
      >Registro</a
    >
    <a *ngIf="!estaAutenticado" routerLink="/login" routerLinkActive="active"
      >Iniciar sesión</a
    >
    <div *ngIf="estaAutenticado" class="dropdown">
      <button class="dropbtn" (click)="toggleDropdown()">
        Hola {{ nombreUsuario
        }}<i
          class="fa-solid fa-caret-up arrow-icon"
          [class.open]="isDropdownOpen"
        ></i>
      </button>
      <div class="dropdown-content" [class.show]="isDropdownOpen">
        <a routerLink="/mis-entradas">🎫 Mis entradas</a>
        <a routerLink="/perfil">👤 Perfil</a>
        <a (click)="cerrarSesion()"
          >Cerrar sesión <i class="fa-solid fa-right-from-bracket"></i
        ></a>
      </div>
    </div>
  </nav>
</header>
