.recuperar-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
  }
  
  .recuperar-form input {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
  }
  
  .btn-recuperar {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
  }
  
  .btn-recuperar:hover {
    background-color: #0056b3;
  }
  