<app-navbar></app-navbar>

<section class="home-container">
  <div class="hero-section">
    <div class="hero-content">
      <h1 class="titulo" *ngIf="estaAutenticado; else mensajeGenerico">
        Hola, {{ usuario.nombre }} <i class="fa-solid fa-play"></i>
      </h1>
      <ng-template #mensajeGenerico>
        <h1 class="titulo">🎟️ Bienvenido a <span class="marca">eVentos</span></h1>
      </ng-template>
      <p class="subtitulo">
        Vive la experiencia de los mejores eventos de la quinta región
      </p>
    </div>
  </div>

<app-carrusel
  [eventos]="eventos"
  [cargando]="cargando">
</app-carrusel>

<div class="home-content">
  <div class="eventos-section">
    <app-eventos></app-eventos>
  </div>

  <div class="destacados-section">
    <app-destacados></app-destacados>
  </div>
</div>
  <div *ngIf="!estaAutenticado" class="login-btn-container">
    <button class="login-btn" (click)="irALogin()">Iniciar sesión</button>
  </div>
</section>
<app-footer></app-footer>
