<h2>Editar evento</h2>

<form [formGroup]="formulario" (ngSubmit)="actualizarEvento()" *ngIf="!cargando">
  <label>
    Nombre:
    <input formControlName="nombre" />
  </label>

  <label>
    Descripción:
    <textarea formControlName="descripcion"></textarea>
  </label>

  <label>
    Fecha:
    <input type="datetime-local" formControlName="fecha" />
  </label>

  <label>
    Lugar:
    <input formControlName="lugar" />
  </label>

  <label>
    Categoría:
    <input formControlName="categoria" />
  </label>

  <label>
    Precio:
    <input type="number" formControlName="precio" />
  </label>

  <label>
    Imagen (URL):
    <input formControlName="imagen_url" />
  </label>

  <label>
    Aforo disponible:
   <input type="number" formControlName="aforo" />
  </label>


  <button type="submit" [disabled]="formulario.invalid">Actualizar Evento</button>
</form>

<p *ngIf="mensaje">{{ mensaje }}</p>
