<app-navbar></app-navbar>

<main *ngIf="evento" class="card detalle-card">
  <img
    *ngIf="evento.imagen_url"
    [src]="evento.imagen_url"
    alt="{{ evento.nombre }}"
    class="detalle-card__img"
  />

  <div class="detalle-card__body">
    <h2 class="detalle-card__title">{{ evento.nombre }}</h2>
    <p class="detalle-card__text">
      <strong>Descripción:</strong> {{ evento.descripcion }}
    </p>
    <p class="detalle-card__text">
      <strong>Fecha:</strong> {{ evento.fecha | date : "fullDate" }}
    </p>
    <p class="detalle-card__text"><strong>Lugar:</strong> {{ evento.lugar }}</p>
    <p class="detalle-card__text">
      <strong>Categoría:</strong> {{ evento.categoria }}
    </p>
    <p class="detalle-card__text">
      <strong>Precio:</strong> {{ evento.precio | currency : "CLP" }}
    </p>

    <button
      *ngIf="estaAutenticado && rol === 'cliente'"
      class="btn-comprar"
      [routerLink]="['/compra', evento.id]"
    >
      Comprar entrada
    </button>
    <p *ngIf="!estaAutenticado" class="info-msg">
      🔒 Inicia sesión para comprar entradas
    </p>

    <button class="volver-btn" (click)="volver()">⬅️ Volver</button>
  </div>
</main>
